#input-section {
    border: 1px solid $content-border-color;
    border-radius: $border-radius-medium; 
    max-width: 500px;
    width: 100%;
    margin: 30px;

    display: flex;
    justify-content: center;

    form {
        margin-top: 10px;
        margin-bottom: 10px ;
        display: flex;
        justify-content: center;
        gap: 3px;
    }
}