#output-section {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.todo-wrapper {
  display: flex;
  background-color: rgb(215, 214, 214);
  max-height: 20px;
  min-width: 100px;
  justify-content: space-between;

  p {
    text-align: center;
  }

  &.completed {
    background-color: rgb(199, 255, 199);
    p {
      text-decoration: line-through;
      color: gray;
    }
  }

  padding: 5px;
  border: 1px solid $content-border-color;
  border-radius: $border-radius-medium;
}
