.section {
  border: 1px solid $content-border-color;
  border-radius: $border-radius-medium;
  max-width: 500px;
  width: 100%;
  min-height: 50px;
  margin: 30px;

  display: flex;
  justify-content: center;
}
