$main-color1: rgb(252, 99, 99);
$main-color2: rgb(248, 248, 248);

$content-border-color: rgb(235, 233, 233);
$content-border-color1: rgb(245, 64, 64);

$text-color: rgb(45, 45, 45);

$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-large: 20px;
